body {
  background-image: url("Морозные узоры.jpg");
  background-repeat: repeat;
}

ul {
  list-style-type: none;
  margin: 20px 0;
  padding: 0;
  width: 300px;
  overflow: hidden;
  background-color: #352d8a;
  border: solid 3px black;
  border-radius: 5px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  box-shadow: 0px 0px 10px 3px #00ADB5;
}

a:hover {
  background-color: white;
  border: solid 3px rgb(80, 51, 226);
  border-radius: 15px;
  box-shadow: 5px 10px 20px rgb(91, 110, 233) inset;
  color: blue;
  font-style: italic;
}